#logo-container{
    width: 100vw;
    height: 100vh;
    background-image: url(../HTML/Pics/tokyo\ ghoul.jpg);
    background-repeat: repeat;
    background-position:left;
    background-size: contain;
    /* background-size: 200px 300px; */
    background-attachment: fixed;
}