#container{
    height: 90vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
}

#container div{
    height: 100px;
    width: 100px;
}

#div-1{
    background-color: blueviolet;
    order: 50;
}

#div-2{
    background-color: rgb(226, 141, 43);
    order: -10;
}

#div-3{
    background-color: rgb(43, 226, 58);
    order: 35;
}

#div-4{
    background-color: rgb(189, 43, 226);
    order: 15;
}
